@font-face {
    font-family: 'Kaleko 205 Round W01 Book';
    src: url(img/Kaleko\ 205\ Round\ W01\ Book.ttf);
}

h1{
    font-family: 'Kaleko 205 Round W01 Book';
    font-size: medium;
    color: white;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("img/background.png");
}

body {
    overflow: hidden; /* Hide scrollbars */
  }