@font-face {
    font-family: 'Kaleko 205 Round W01 Book';
    src: url(img/Kaleko\ 205\ Round\ W01\ Book.ttf);
}

h1{
    font-family: 'Kaleko 205 Round W01 Book';
    color: white;
}

h2{
    font-family: 'Kaleko 205 Round W01 Book';
    color: white;
}

h3{
    font-family: 'Kaleko 205 Round W01 Book';
    color: white;
}

h4{
    font-family: 'Kaleko 205 Round W01 Book';
    color: white;
}
body {
    overflow: hidden; /* Hide scrollbars */
  }

button {
    width: 30%;
    height: 15%;
    font-family: 'Kaleko 205 Round W01 Book';
    background-color: #02b757;
    color: white;
    font-size: 30px;
    border-radius: 14px;
    border: none;
}

#discord-button{
    width: 10%;
    height: 5%;
    font-family: 'Kaleko 205 Round W01 Book';
    background-color: #7289DA;
    color: white;
    font-size: 22px;
    border-radius: 14px;
    border: none;
    float: right;
    margin-right: 20px;
    }
body {
    height: 100%;
    width: 100%;
    background-image: url("img/background.png");
  }